<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/about.css">
    <title>Portfólio / Fernando</title>
</head>
<body>
    <div id="containner">
        <%- include('./reusable/langContainner.ejs') %> 
        <%- include('./reusable/reload.ejs') %> 
        <%- include('./reusable/header.ejs',{index:1})  %> 
        <main>
            <div id="main-containner">
                <span id="htmlTag">&lt;HTML&gt;</span><br>
                <div id="body-content">
                    <div id="h1-content">
                        <h1 id="main-title">
 
                        </h1><br>
                    </div>
                    <p id="paragrafo-content">
                        <span id="text-paragrafo"></span>
                    </p><br><br>
                </div>
                <span id="htmlTag-bottom">&lt;/HTML&gt;</span><br>
            </div>
        </main>
    </div>
    <script src="../public/js/color-picker.js"></script>
    <script src="../public/js/lang.js"></script>
</body>
</html>