<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/about.css">
    <title>Portfólio / Fernando</title>
</head>
<body>
    <div id="containner">
        <%- include('./reusable/header.ejs',{index:1})  %> 
        <main>
            <div id="content">
                <span class="code">&lt;HTML&gt;</span><br><br>
                <div id="body-content">
                    <span class="code" style="margin-left: 2em;">&lt;BODY&gt;</span><br><br>
                    <div id="h1-content">
                        <span class="code" style="margin-left: 4em;">&lt;H2&gt;</span><br>
                        <h1 id="main-title">
                            A little about myself
                        </h1><br>
                        <span class="code" style="margin-left: 4em;">&lt;/H2&gt;</span><br><br>
                    </div>
                    <p style="width: 50vw; margin-left: 4em;">
                        <span class="code">&lt;p&gt;</span><br>
                            <div style=" width: 50vw; margin-left: 5rem;" id="text-paragrafo">
                                I'm a programmer located in Brazil, I have a huge passion for programming, especially with the back-end, which is where I develop better. <br><br>
                                In general, I consider myself a shy person, but over time I adapt better with the people next to me, I like to play with friends, I also like to help my friends who are starting to program now, because in addition to them learning, I also learn soon we all win. <br><br>
                                My goal is to revolutionize people's lives through technology.    
                            </div><br>
                        <span class="code" style="margin-top: -0.8em; margin-left: 4em;" >&lt;/p&gt;</span>
                    </p><br><br>
                    <span class="code" style="margin-left: 2em;">&lt;/BODY&gt;</span><br><br>
                </div>
                <span class="code">&lt;/HTML&gt;</span><br><br>
            </div>
        </main>
    </div>
</body>
</html>