<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/contact.css">
    <title>Portfólio / Fernando</title>
</head>
<body>
    <div id="containner">
        <%- include('./reusable/header.ejs',{index:2})  %> 
        <main>
            <div id="content">
                <span class="code">&lt;HTML&gt;</span><br>
                <div id="body-content">
                    <span class="code" style="margin-left: 2em;">&lt;BODY&gt;</span><br>
                    <div id="h1-content">
                        <span class="code" style="margin-left: 4em;">&lt;H2&gt;</span>
                        <h1 id="main-title">
                            Contact Me
                        </h1>
                        <span class="code" style="margin-left: 4em;">&lt;/H2&gt;</span><br>
                    <p style="margin-left: 4em;">
                        <span class="code">&lt;p&gt;</span><br>
                            <div id="text-paragrafo">
                                I'm interested in freelance opportunities, especially ambitious or large projects. however, if you have any other request or question, you can use the form below to communicate with me or through the other means of contact in the menu bar.
                            </div><br>
                        <span class="code" style="margin-top: -0.8em; margin-left: 4em;" >&lt;/p&gt;</span>
                    </p><br><br>
                    <div id="form-content">
                        <span class="code" style="margin-left: 2em;">&lt;FORM&gt;</span><br>
                        <span class="code" style="margin-left: 2em;">&lt;/FORM&gt;</span><br>
                    </div>
                    <span class="code" style="margin-left: 2em;">&lt;/BODY&gt;</span><br>
                </div>
                <span class="code">&lt;/HTML&gt;</span>
            </div>
        </main>
    </div>
</body>
</html>