<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Portfólio / Fernando</title>
</head>
<body>
    <div id="containner">
        <%- include('./reusable/header.ejs')  %> 
        <main>
            
        </main>
    </div>
</body>
</html>