<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/skills.css">
    <title>Portfólio / Fernando</title>
</head>
<body>
    <div id="containner">
        <%- include('./reusable/header.ejs',{index:2})  %> 
        <main>
            <div id="content">
                <span class="code">&lt;HTML&gt;</span><br>
                <div id="body-content">
                    <span class="code" style="margin-left: 2em;">&lt;BODY&gt;</span><br>
                    <div id="h1-content">
                        <span class="code" style="margin-left: 4em;">&lt;H2&gt;</span><br>
                        <h1 id="main-title">
                            A little about myself
                        </h1><br>
                        <span class="code" style="margin-left: 4em;">&lt;/H2&gt;</span><br><br>
                    </div>
                    <p style="margin-left: 4em;">
                        <span class="code">&lt;p&gt;</span><br>
                            <div id="text-paragrafo">
                                I started programming thanks to a course I took here in my city approximately 5 years ago, since then I've been studying and making an effort to conquer my space, I've already taught classes, worked for a company, done volunteer work and others to acquire knowledge. <br><br>
                                I'm a complete front-end and back-end developer, I create entire systems by myself and I'm improving my techniques every time. <br><br>
                                I'm currently programming with JavaScript using Nodejs on the Back-end. I also develop with HTML, CSS and pure JavaScript. <br><br>
                                I also have other knowledge such as Hosting, Firebase, relational and non-relational databases, APIS.
                            </div><br>
                        <span class="code" style="margin-top: -0.8em; margin-left: 4em;" >&lt;/p&gt;</span>
                    </p><br><br>
                    <span class="code" style="margin-left: 2em;">&lt;/BODY&gt;</span><br>
                </div>
                <span class="code">&lt;/HTML&gt;</span>
            </div>
            <div id="statistics">
                <div id="graph">
                    <div class="graph-col">
                        <span>Front-End</span>
                        <footer id="progress-bar">
                            <div style="transition: 0.5s ease-out; border-radius: 20px; width: 65%; background-color: #FF0099;">.</div>
                        </footer>
                    </div>
                    <div class="graph-col">
                        <span>Back-End</span>
                        <footer id="progress-bar">
                            <div style="transition: 0.5s ease-out; border-radius: 20px; width: 85%; background-color: #A600C1;">.</div>
                        </footer>
                    </div>
                    <div class="graph-col">
                        <span>NodeJs</span>
                        <footer id="progress-bar">
                            <div style="transition: 0.5s ease-out; border-radius: 20px; width: 75%; background-color: #0037FC;">.</div>
                        </footer>
                    </div>
                    
                    
                </div>
                <div id="works">
                    <div id="works-col">
                        <span id="work-title">Full-Stack Developer</span>
                        <span id="work-company">InfoEduc Company</span>
                        <span id="work-date">01/2022-04/2022</span>
                        <p id="work-resume">
                            Contributes to the development of a system on the platform that served education networks in Brazil
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="../public/js/lang.js"></script>
</body>
</html>