
header{
    width: 16vw;
    background-color: var(--secundary-black);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-black);
    
}
#logo img{
    width: 10em;
}
#logo #name{
    color: var(--white);
    margin-bottom: 0.5em;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#logo #legend{
    color: var(--text-gray-color-primary);
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: 3em;
}
#navegation nav ul{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    flex-direction: column;
    margin-top: 3em;
}
#navegation nav ul li{
    width: 100%;
    padding: 15px;
    border-top: 1px solid var(--border-color);
}
.navLinks{
    font-size: 1.2em;
    text-decoration: none;
    color: var(--text-gray-color-primary);
    text-align: center;
    transition: 0.5s;
}

.navLinks:hover{
    color: var(--text-color-purple);
    transition: 0.5s;
}
#icons{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.select{
    color: var(--text-color-purple);
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
}

footer{
    height: 100%;
    width: 100%;
}
#footer-containner{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    
}
#lang_selected{
    width: 3em;
    margin-right: 1vw;
    margin-bottom: 0.8vh;
    cursor: pointer;
}
#lang-containner{
    position: fixed;
    z-index: 100;
    left: 5.3vw;
    bottom: 3.5em;
    width: 12vw;
    background-color: aliceblue;
    height: 16vh;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--border-color);
    transition: 0.5s;
}
#lang-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.lang-icons:first-child{
    width: 3em;
    margin: 0;
}
.lang-icons{
    cursor: pointer;
    width: 3em;
    margin-left: 0.5em; 
}