*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --primary-black: #111111;
    --secundary-black: #2F2F2F;
    --main-background-black: #262626;
    --text-gray-color-primary: #D7D7D7;
    --text-gray-color-secundary: rgba(215, 215, 215, 45%);
    --text-color-purple: #9055FF;
    --white: #fff;
    --border-color: rgba(113, 113, 113, 50%);
}
body,html{
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: var(--text-gray-color-primary);
}
#containner{
    width: 100%;
    height: 100%;
    display: flex;
}

