*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --primary-black: #111111;
    --secundary-black: #2F2F2F;
    --main-background-black: #262626;
    --text-gray-color-primary: #D7D7D7;
    --text-gray-color-secundary: rgba(215, 215, 215, 45%);
    --text-color-purple: #9055FF;
    --white: #fff;
    --border-color: rgba(113, 113, 113, 50%);
}
body,html{
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: var(--text-gray-color-primary);
}
#containner{
    width: 100%;
    height: 100%;
    display: flex;
}
main{
    width: 100%;
    height: 100%;
    background-color: var(--main-background-black);
}
#content{
    padding: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.code{
    color: var(--text-gray-color-secundary);
    font-family: 'Covered By Your Grace', cursive;
}
#main-title{
    color: var(--white);
    margin-left: 6vw;
    font-family: 'Imprima', sans-serif;
    font-size: 3.5vw;
}
#text-paragrafo{
    font-size: 1.2vw;
    color: var(--text-gray-color-primary);
    font-family: 'Imprima', sans-serif;
}
#button{
    transition: 0.5s;
    border: 2px solid var(--text-color-purple);
    min-width: 120px;
    width: 13vw;
    min-height: 30px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2em;
    margin-top: 2vh;
    position: relative;
    bottom: 2vh;
}
#button a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contact-button{
    color: var(--text-color-purple);
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;

}
#button:hover{
    box-shadow: inset 0 0 10px 0 var(--text-color-purple), 0 0 10px 0 var(--text-color-purple);
    transition: 0.5s;
}
#body-content{
    margin: 2vh 0 2vh 0;
}
#body-content, #h1-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width: 1400px) {
    #body-content, #h1-content{
        margin: 4vh 0 4vh 0;
    }
    #button{
        bottom: 4vh;
    }
    
}
@media screen and (max-width: 740px) {
    #contact-button{
        font-size: 0.7em;
    }

}
@media screen and (max-width: 1200px) {
    #text-paragrafo{
        font-size: 0.8em;
    }
    #main-title{
        font-size: 2em;
        margin-left: 3em;
    }
}
