*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --primary-black: #111111;
    --secundary-black: #2F2F2F;
    --main-background-black: #262626;
    --text-gray-color-primary: #D7D7D7;
    --text-gray-color-secundary: rgba(215, 215, 215, 45%);
    --text-color-purple: #9055FF;
    --white: #fff;
    --border-color: rgba(113, 113, 113, 50%);
}
body,html{
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: var(--text-gray-color-primary);
}
#containner{
    width: 100%;
    height: 100%;
    display: flex;
}
main{
    
    width: 100%;
    height: 110%;
    background-color: var(--main-background-black);
}
#content{
    padding: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
#htmlTag-bottom{
    margin-top: 1.5em;
    font-family: 'Covered By Your Grace', cursive;
    color: var(--text-gray-color-secundary);
    font-size: 1rem;
    font-weight: 200;
}
#htmlTag-bottom::before{
    content: '</BODY>';
    font-family: 'Covered By Your Grace', cursive;
    color: var(--text-gray-color-secundary);
    font-size: 1rem;
    position: absolute;
    margin-top: -2em;
    margin-left: 1em;
    font-weight: 200;
}
#htmlTag{
    color: var(--text-gray-color-secundary);
    font-size: 1em;
    font-family: 'Covered By Your Grace', cursive;
    font-weight: 200;
    margin-bottom: 1em;
}
#htmlTag::after{
    content: '<BODY>';
    font-family: 'Covered By Your Grace', cursive;
    color: var(--text-gray-color-secundary);
    font-size: 1rem;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -1em;
    font-weight: 200;
}
#text-paragrafo{
    font-size: 1em;
    color: var(--text-gray-color-primary);
    font-family: 'Imprima', sans-serif;
}
#text-paragrafo::before{
    content: '<P>';
    font-family: 'Covered By Your Grace', cursive;
    color: var(--text-gray-color-secundary);
    font-size: 1rem;
    position: absolute;
    margin-left: -1.8em;
    font-weight: 200;
}
#text-paragrafo::after{
    content: '</P>';
    font-family: 'Covered By Your Grace', cursive;
    color: var(--text-gray-color-secundary);
    font-size: 1rem;
    position: absolute;
    margin-left: 0.5em;
    font-weight: 200;
}
#paragrafo-content{
    margin-left: 7em;
    margin-top: 1em;
}
#main-title{
    color: var(--white);
    margin-left: 2em;
    font-family: 'Imprima', sans-serif;
    font-size: 3em;
}
#main-title::before{
    content: '<H1>';
    font-family: 'Covered By Your Grace', cursive;
    color: var(--text-gray-color-secundary);
    font-size: 1rem;
    position: absolute;
    margin-top: -1.2rem;
    margin-left: -1em;
    font-weight: 200;
}
#main-title::after{
    content: '</H1>';
    font-family: 'Covered By Your Grace', cursive;
    color: var(--text-gray-color-secundary);
    font-size: 1rem;
    position: absolute;
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-weight: 200;
}

#button{
    transition: 0.5s;
    border: 2px solid var(--text-color-purple);
    min-width: 120px;
    width: 13vw;
    min-height: 20px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2em;
    margin-top: 2vh;
    position: relative;
    bottom: 2vh;
}
#button a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contact-button{
    color: var(--text-color-purple);
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;
}
#button:hover{
    box-shadow: inset 0 0 10px 0 var(--text-color-purple), 0 0 10px 0 var(--text-color-purple);
    transition: 0.5s;
}
#body-content{
    margin: 2vh 0 2vh 0;
}
#body-content, #h1-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width: 1400px) {
    #body-content, #h1-content{
        margin: 4vh 0 4vh 0;
    }
    #htmlTag::after{
        margin-top: 3em;
    }
    #htmlTag-bottom::before{
        margin-top: -3em;
    }
    #paragrafo-content{
        margin-bottom: 4em;
    }
    #htmlTag,#htmlTag-bottom{
        margin: 2em 0 4em 0;
    }
    #button{
        bottom: 4vh;
    }
    #main-title{
        font-size: 3em;
    }
    #text-paragrafo{
        font-size: 1em;
    }

}
@media screen and (min-width: 1000px) {
    #body-content, #h1-content{
        margin: 4vh 0 4vh 0;
    }
    
    #htmlTag::after{
        margin-top: 3em;
    }
    #htmlTag-bottom::before{
        margin-top: -3em;
    }
    #paragrafo-content{
        margin-bottom: 4em;
    }
    #htmlTag{
        margin: 2em 0 4em 0;
    }
    #button{
        bottom: 4vh;
    }

    #main-title{
        font-size: 2.5em;
    }
    #text-paragrafo{
        font-size: 0.8em;
    }
    #lang-containner{
        left: 8.5;
    }
} 
@media screen and (max-width: 1000px) {
    #body-content, #h1-content{
        margin: 2vh 0 2vh 0;
    }
    #htmlTag::after{
        margin-top: 2em;
    }
    #htmlTag-bottom::before{
        margin-top: -2em;
    }
    #paragrafo-content{
        margin-bottom: 3em;
    }
    #htmlTag{
        margin: 1em 0 3em 0;
    }
    #button{
        bottom: 3vh;
    }

    
}
@media screen and (min-width: 740px) {
    body{
        overflow: hidden;
    }
}

@media screen and (max-width: 1200px) {
    
    #lang-containner{
        left: 8vw;
    }
}
@media screen and (max-width: 1000px) {
    #body-content, #h1-content{
        margin: 0vh 0 0vh 0;
    }
    #htmlTag::after{
        margin-top: 2em;
    }
    #htmlTag-bottom::before{
        margin-top: -2em;
    }
    #paragrafo-content{
        margin-bottom: 2em;
    }
    #htmlTag{
        margin: 1em 0 2em 0;
    }
    #button{
        margin-top: 0;
    }
    #lang_selected{
        width: 3em;
    }
    #lang-containner{
        left: 7vw;
    }
}

