main{
    background-color: var(--main-background);
}
#main-containner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    height: 100%;
}
#main-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    margin-top: 5em;
    width: 100%;
    height: 100%;
}

.main-col{
    border: 1px solid rgb(99, 99, 99);
    border-radius: 10px;
    max-height: 30em;
    height: 40vh;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 2em;
    text-decoration: none;
    color: var(--color-text-primary);
    overflow: hidden;
    display: flex;
}
.text-cols{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
}
.text-description-cols span{
    word-wrap: break-word;
}
.containner-image-cols{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-cols{
    width: 80%;
    height: 80%;
    border-radius: 10px;
}
.title{
    font-weight: bold;
    font-size: 1.8em;
    font-family: 'Imprima', sans-serif;
}
.descricao{
    border-radius: 20px;
    color: var(--text-gray-color-primary);
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
}
.descricao b{
    color: var(--color-text-primary);
}
.text-tecs-cols{
    display: flex;
    align-items: center;
}
.text-tecs-cols img{
    width: 2em;
    margin-right: 1.5em;
}
#title-containner{
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#work-title{
    font-family: 'Imprima', sans-serif;
    font-size: 2.5rem;
    color: var(--color-secundary);
}
#subtitle-containner{
    width: 65%;
    margin-top: 1em;
    text-align: center;

}
#work-subTitle{
    font-family: 'Imprima', sans-serif;
    font-size: 1rem;
    color: var( --text-gray-color-primary);
}

    
/* [aria-label]:hover::after {
    display: block;
} */
/* @media screen and (min-width: 760px) {
    body,html{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
@media screen and (max-width: 760px) {
    body,html{
        width: auto;
        height: auto;
        overflow: auto;
    }
} */